.container {
  width: 200px;
  margin: 50px auto;
}

.output {
  width: 200px;
  height: 35px;
  text-align: right;
  padding: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display:none;
}

.output.active {
  display:block;
} 

.input {
  width:200px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.num_bth, #clear, #equal_btn{
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background: lightgray;
  cursor: pointer;
  margin: 1px;
}

.num_bth:focus, #clear:focus, #equal_btn:focus {
  outline: solid 1px blue;
}

#clear,#equal_btn{
  width:100%;
}
